@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*{
    --lm_white: #F3EFF5;
    --lm_black: #020402;
    --lm_purple:#812CE5;
    --lm_green: #4BDBAB;
    --lm_blue: #00A7E1;
    --edge-roundness: 10px;

    margin: 0;
    color: var(--lm_white);
    background-size: 100%;
    font-family: "JetBrains Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.6px;
}
/* -------fundo------- */
body{
    background: var(--lm_black);
}

::selection {
    background-color: var(--lm_purple);
    mix-blend-mode: difference;
    color: var(--lm_white);
}


/* -------section margins------- */
section{
    /* cada section (sobre, eventos, projetos, artigos, membros, etc...) vai conter margens de 4vh 4vw */
    margin: 8vh 4vw;
}


/* -------h1------- */
h1{
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -5.12px;
    text-transform: uppercase;
}
@keyframes scale_wscroll{
    to {scale: 1 1;}
}
.h1_divider {
    border: 0;
    height: 2px;
    background-color: var(--lm_white);
    margin-bottom: 50px;
    animation: scale_wscroll;
    scale: 0 1;
    transform-origin: left;
    animation-timeline: view(100px);
}


/* -------barra de nav------- */
.nav_landing_page{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    top: 0;
    width: 100%;
    min-height: 100px;
}
.nav_landing_page a{
    font-size: 20px;
    opacity: 50%;
}
.nav_landing_page a:hover{
    animation-timeline: 100%;
}
.nav_principal{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(53, 53, 53, 0.6) 100%);
    backdrop-filter: blur(40px);
    animation: appear_wscroll;
    animation-timeline: view(100vh 0);
}
.nav_principal:hover{
    opacity: 1;
}
.navbar_logo{
    height: 1.5em;
    cursor: pointer;
    padding-left: 4vw;
}
.barra_de_nav ul{
    list-style-type: none;
}
.barra_de_nav a{
    line-height: normal;
    text-align: center;
    text-decoration: none;
    padding: 2vw;
    display: block;
}
.barra_de_nav li{
    float: left;
    text-wrap: nowrap;
}
.barra_de_nav a:hover{
    text-decoration: underline;
}
@keyframes appear_wscroll{
    from{ opacity: 0;}
    to{opacity: 1;}
}


/* --------CENA 3D-------- */
#test{
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden
}


/* -------sobre------- */
.container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: col;
    gap: 2 vw;
    align-self: stretch;
}
.text_box{
    overflow-wrap: break-word;
    text-wrap: balance;
    inline-size: 50%;
    flex: 1;
    padding-right: 4vw;
    padding-bottom: 50px;
    min-width: 400px;
}
.video{
    display: flex;
    flex-wrap: wrap;
    flex: 1.618;
    display: block;
    border-radius: var(--edge-roundness);
}
.video video{
    border-radius: var(--edge-roundness);
    min-width: 400px;
    max-width: 100%;
}
#sobrenos_1000plus{
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    color: var(--lm_green);
}
#sobrenos_10plus{
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    color: var(--lm_blue)
}

/* --------projetos-------- */
.carouselview{
    display: flex;
    gap: 4%;
    align-items: center;
}
.scrolling-wrapper {
    &::-webkit-scrollbar {
        display: none;
      }
    scrollbar-width: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: var(--edge-roundness);
  }

.card{
    scroll-snap-align: center;
    /* flex: 0 0 auto; */
    max-width: 35vw;
    min-width: 250px;
    height: 50vh;
    padding: 50px 25px;
    margin-right: 1.5vw;
    border-radius: var(--edge-roundness);
    background: linear-gradient(180deg, rgba(2, 4, 2, 0.50) 0%, rgba(129, 44, 229, 0.50) 100%);
}

.card-header{
    overflow-wrap: break-word;
    text-wrap: balance;
    inline-size: 100%;
    flex: 1;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3.2px;
    margin-bottom: 4vh;
}

.card-content{
    overflow-wrap: break-word;
    text-wrap: balance;
    inline-size: 100%;
    flex: 1;
}


.carouselview button{
    /* border: none; */
    border: 2px solid white;
    cursor: pointer;
    border-radius: 100%;
    color: var(--lm_black);
    width: 2vw;
    height: 2vw;
    min-width: 30px;
    min-height: 30px;
}

/* --------artigos-------- */
#artigos{
    max-width: 700px;
    padding-top: 8vh;
}
.article_title{
    display: flex;
    align-items: center;
    font-size: 24px;
}
.second{
    color: var(--lm_blue);
    line-height: 6vh;
    width: fit-content;
    font-weight: 600;
    font-style: italic;
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
.third{
    color: var(--lm_green);
    font-weight: 100;
}


